@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: #222;
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.8rem;
    font-weight: 500;
}

.btn {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.btn span {
    position: relative;
    display: inline-block;
    background: blue;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    width: 240px;
    padding: 18px 0;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    transition: transform 0.15s linear;
}

.color-01 span {
    background: linear-gradient(90deg, #EC5C1A, #F6CE61);
}

.color-02 span {
    background: linear-gradient(90deg, #0165CD, #55E6FB);
}

.color-03 span {
    background: linear-gradient(90deg, #259844, #6FF192);
}